body {
  display: flex;
  justify-content: center;
  background-color: #cee4eb;
  height: 100vh;
  margin: 0;
}
h2 {
  font-family: 'TuTipoDeLetra', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  border: 3px solid #000000; 
  padding: 10px;
}
.app {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.app-busqueda {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #427a9d;
  width: calc(48% - 10px); 
  margin-right: 50px;
  box-shadow: 5px 5px 10px #333; 
}

.app-crear {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #6b8fa2;
  width: calc(48% - 10px); 
  box-shadow: 5px 5px 10px #333; 
}

.note-list {
  margin-top: 20px;
}

.note {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.note h3 {
  color: #333;
}

.note p {
  color: #666;
}

.note button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.note button:hover {
  background-color: #cc4731;
}

.note-editor {
  margin-top: 20px;
}
.titulo_nota {
  max-width: 400px; 
  margin-bottom: 10px;
}

.titulo_nota input {
  width: 100%;
  padding: 10px;
  border: 1px solid #2499b6; 
  background-color: #ffffff; 
  border-radius: 5px;
  box-sizing: border-box;
  outline: none; 
}

.titulo_nota input:focus {
  border-color: #2980b9;
}
.contenido_nota textarea {
  width: 100%;
  height: 10px;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #2499b6; 
  background-color: #ffffff; 
  border-radius: 5px;
  box-sizing: border-box; 
  outline: none; 
  resize: vertical; 
}

.contenido_nota textarea:focus {
  border-color: #2980b9; 
}
.note-editor input,
.note-editor textarea,
.note-editor button {
  margin-bottom: 10px;
}

.note-editor button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.note-editor button:hover {
  background-color: #2980b9;
}

.search-bar {
  max-width: 400px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  border: 1px solid #3498db;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.search-bar button {
  width: 30%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.search-bar button:hover {
  background-color: #2980b9;
}

.search-salida {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 300px; 
  max-height: 10vh; 
}